<section id="header" class="jumbotron text-center">
     <h1 class="display-3">JUMA_HBO</h1>
</section>
 
<section id="gallery">


    <div class="container">
        <div class="row">
            <div class="col-lg-4 mb-4">
                <div class="card">
                    <img src="s.ImagenSerie" alt="" class="card-img-top">
                    <div class="card-body">
                        <h5 class="card-title" id= "nombreS"></h5>
                        <button id="" onclick="masInformacion(id)" class="btn btn-outline-success btn-sm">Mas informacion</button>
                        <button id="" onclick="Temporadas(id)" class="btn btn-outline-success btn-sm">Mas temporadas</button>
                        <button id="" onclick="Actores(id)" class="btn btn-outline-success btn-sm">Actores</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>
